attrs==24.2.0
fastjsonschema==2.20.0
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_core==5.7.2
nbformat==5.10.4
numpy==2.1.2
pandas==2.2.3
platformdirs==4.3.6
python-dateutil==2.9.0.post0
pytz==2024.2
referencing==0.35.1
rpds-py==0.20.0
six==1.16.0
traitlets==5.14.3
tzdata==2024.2
